.outer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: left; 
  }
  
  .inner {
    width: 450px;
    margin: auto;
    background: #ffffff;
    box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
    padding: 40px 55px 45px 55px;
    border-radius: 15px;
    transition: all .3s;
  }
  
  .outer .form-control:focus {
    border-color: #167bff;
    box-shadow: none;
  }
  
  .outer h3 {
    text-align: center;
    margin: 0;
    line-height: 1;
    padding-bottom: 20px;
  }
  
  .custom-control-label {
    font-weight: 400;
  }
  
  .forgot-password,
  .forgot-password a {
    text-align: right;
    font-size: 13px;
    padding-top: 10px;
    color: #7f7d7d;
    margin: 0;
  }
  
  .forgot-password a {
    color: #167bff;
  }
  .custom {
    width: 250px !important;
    align-items: center;
    margin-left: 28px;
    padding: 0.5rem 1rem;
    font-size: 1.25rem;
    border-radius: 0.3rem;
}

@media screen and (max-width: 960px) {
    .inner {
        width: 300px; 
      }
      .custom {
        width: 80px !important;
        margin-left: 0px;
        font-size: 0.1rem;
        border-radius: 0.3rem;
    }
    .inner {
        padding: 0px 0px 0px 0px;
        margin-bottom: 20px;
      }
  }