.main {
    margin: 3rem auto;
    width: 90%;
    max-width: 90rem;
    margin-right: 60px;
  }


  @media screen and (max-width: 200px) {
    .main {
        margin: 2rem auto 0 3.1rem;
        max-width: 30rem;
      }
  }